.picture{
  text-align: center;
}

.sections{
  font-family: helvetica;
  font-style: normal;
}

.sidebar{
  float:right;
  width: 30%;
  background-color: bisque;
  border-color: black;
  border-radius: 3px;
}

.sidetitle{
  font-family: helvetica;
  text-decoration: underline;
}